#root {
  margin: 0 auto;
  text-align: center;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;

}


h1 {
  font-size:x-large;
}

h2 {
  font-size: larger;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

footer {
  padding: 20px;
  background-color: #EDF2F7;
}

.footerContainer a {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.footerContainer img {
 height: 42px;
  /* justify-content: center; */
}
