#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;

}


h1 {
  font-size:x-large;
}

h2 {
  font-size: larger;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}
